



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 10px;
   
}

.grid-item {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    
}